@model IEnumerable<eye_nobat.Models.peyvast>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<environment names="Development">
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</environment>



@if (TempData["peyvast"] != null)
{
    @if (TempData["peyvast"] == "no")
    {
        <script>
            alert("پیوست موجود نمی باشد");
        </script>
    }
}


@*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% create*@
<div id="myNavRight" class="overlayRight">
    <div class="overlay-contentRight">
        <div class="card">
            <div class="card-header text-white bg-primary">
                ثبت پیوست
            </div>
            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">نام پیوست</label>
                                <input name="name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">فایل پیوست</label>
                                <input name="file" type="file" class="form-control" />
                            </div>
                        </div>
                        <div hidden class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"></label>
                                <select name="never_id" class="form-control" asp-items="ViewBag.never_id"></select>
                            </div>
                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    ثبت اطلاعات
                                </button>
                                <a onclick="history.back()" class="btn btn-outline-primary">
                                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                                    <span>انصراف و بازگشت</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% create*@
@*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Index*@
<div class="card" id="index" style="transform:scale(1)">
    <div class="card-header text-white bg-primary">
        مدیریت پیوست ها
    </div>


    <table id="dataTableExample" class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.val)
                </th>
                <th>
                    نام و نام خانوادگی بیمار
                </th>
                <th>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    عملیات
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    @if (item.val != null)
                    {
                        <td>
                            <a asp-action="download_file" asp-route-id="@item.id">دانلود فایل</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            ندارد
                        </td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.never.flname)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bx bx-dots-horizontal-rounded"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" style="">
                                <li>
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.id">
                                        <i class="bx bx-edit"></i>
                                        ویرایش
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.id">
                                        <i class="bx bx-zoom-in"></i>
                                        جزئیات
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.id">
                                        <i class="bx bxs-trash"></i>
                                        حذف
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Index*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("index").style.transform = "scale(1)";
        function create() {
            document.getElementById("index").style.transform = "scale(0)";
            setTimeout(function () {
                window.location.href = "/hos/Create";
            }, 2000);
        }
        function edit() {
            document.getElementById("index").style.transform = "scale(0)";
            setTimeout(function () {
                var param = document.getElementById("edit").title;
                window.location.href = "/hos/Edit/" + param;
            }, 2000);
        }
    </script>
}